{% extends "layout.html" %}

{% block title %}
    Content
{% endblock %}

{% block main %}
    <div id="filter_div">
        <form action="/content" method="POST">
            <div id="tags">
                <h5>Tags</h5>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck" name="tag" value="hearing">
                    <label class="custom-control-label" for="customCheck">Hearing impairment</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1" name="tag" value="visual">
                    <label class="custom-control-label" for="customCheck1">Visual disability</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck2" name="tag" value="physical">
                    <label class="custom-control-label" for="customCheck2">Physical disability</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck3" name="tag" value="intellectual">
                    <label class="custom-control-label" for="customCheck3">Intellectual disability</label>
                </div>
            </div>
            <div id="ages">
                <h5>Ages</h5>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck4" name="tag" value="hearing">
                    <label class="custom-control-label" for="customCheck4">0-6 years old</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck5" name="tag" value="visual">
                    <label class="custom-control-label" for="customCheck5">7-11 years old</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck6" name="tag" value="physical">
                    <label class="custom-control-label" for="customCheck6">12-16 years old</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck7" name="tag" value="intellectual">
                    <label class="custom-control-label" for="customCheck7">16+ years old</label>
                </div>
            </div>
            <div id="time">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck8" name="tag" value="physical">
                    <label class="custom-control-label" for="customCheck8">Older</label>
                </div>
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck9" name="tag" value="intellectual">
                    <label class="custom-control-label" for="customCheck9">Newest</label>
                </div>
            </div>
            <input id="btn_nav" class="nav-item btn" type="submit" value="Submit">
        </form>
    </div>
{% endblock %}
