{% extends "layout.html" %}

{% block title %}
    My Activities
{% endblock %}

{% block main %}

    {% for activity in activities %}
    <div class="content">
        <div class="card">
            <h3 class="card-title">{{ activity['name'] }}</h3>
            <h6 class="card-title">{{ activity['user_id'] }}, {{ activity['time'] }}</h6>
            <p class="card-text">{{ activity['short_explanation'] }}</p>
            <a href="/activity?q={{ activity['id'] }}" class="card-link">Visit Activity</a>
            <a id="btn_nav" class="nav-item btn" href="/delete?q={{ activity['id'] }}"><img src="/static/trash_can.png" alt="delete"></a>
        </div>
    {% endfor %}
    
{% endblock %}